repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.7
    hooks:
    # try to fix what is possible
    -   id: ruff
        args: [ --fix ]
    # perform formatting updates
    -   id: ruff-format
